* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
main {
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 30px;
}

li img {
    aspect-ratio: 160/98;
    width: 100%;
}